body {
    background-color: #f1e2be;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}
.index h2 {
    margin-top: 50px;
}
.index ul {
    list-style: none;
}
.index form button {
    width: 150px;
    height: 80px;
    margin: 15px 30px;
    font-size: 24px;
}
.cpu, .wordlist_used, .user {
    display: block;
    align-content: space-around;
    background-color: #f8e0c0;
}
.cpu {
    flex: .25;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}
.cpu img {
    height: 100px;
    width: 100px;
}
.cpu span {
    position: relative;
    display: inline-block;
    /* margin-left: 30px; */
    margin: 30px 20px;
    padding: 7px 30px;
    min-width: 120px;
    max-width: 100%;
    color: #555;
    font-size: 40px;
    background: #fff;
    border-radius: 100px;
}
.cpu span::before {
    content: "";
    position: absolute;
    top: 40%;
    left: -30px;
    margin-top: -15px;
    border: 20px solid transparent;
    border-right: 20px solid #fff;

}
.wordlist_used {
    flex: .5;
    background-color: #b9d0b1;
    font-size: 1.2rem;
    max-height: 300px;
}
.wordlist_used used_title {
    height: 70px;
    /* top: 0; */
}
.wordlist_used ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    max-height: 230px;
    overflow-y: auto;
}
.wordlist_used ul li{
    margin-right: 20px;
    background-color: aliceblue;
    padding: 10px 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 100px;
}
.user {
    flex: .25;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input[type="text"], input[type="submit"] {
    height: 40px;
    vertical-align: middle;
}
input[type="text"] {
    margin-left: 20px;
    max-width: 300px;
    font-size: 30px;
}
.input input[type="submit"] {
    width: 100px;
}
.restart input[type="submit"] {
    width: 200px;
}