<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>しりとりアプリ</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    {% if game.is_user_first == None %}
        <div class="index">
            <h1>しりとりゲームアプリ</h1>
            <ul>
                <p>ルール</p>
                <li>入力は全て<strong>ひらがな</strong>で行ってください</li>
                <li>終わりから二番目の文字から続く言葉を返してください</li>
                <li><br></li>
                <li>「こうちゃ」「はんばーがー」など、「ゃ」「ゅ」「ょ」「ー」で終わる文字は</li>
                <li>終わりから二番目の文字から続く言葉を返してください</li>
                <li><br></li>
                <li>CPUが使う言葉は次のサイトのデータを参照・抜粋しています：</li>
                <li>教育基本語彙データベース・日本語教育基本語彙データベース</li>
                <li>教育基本語彙データベース(2009年版B)</li>
                <li>https://kids-points.com/hiragana_kotoba_all/</li>
                <li><br></li>
                <li>なお、次の言葉から始まるなどの語彙は比較的少なめです（5-10語）</li>
                <li>['ご', 'ざ', 'ぜ', 'へ', 'べ', 'ぽ', 'ら', 'ろ']</li>
            </ul>
            <h2>先攻・後攻を選んでください！</h1>
            <form action="" method="post">
                <!-- <input type="submit" value="先攻" name="turn">
                <input type="submit" value="後攻" name="turn"> -->
                <button type="submit" name="turn" value="先攻">先攻</button>
                <button type="submit" name="turn" value="後攻">後攻</button>
            </form>
        </div>
    {% else %}
    <div class="cpu">
        <img src="../static/img/android2.svg" alt="cpuの画像">
        <span>{{ msg }}</span>
    </div>
    <div class="wordlist_used">
        <p class="used_title">これまでに使われた単語のリスト</p>
        <ul class="used_list">
            {% for list in lists%}
                <li>{{ list }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="user">
        <div>
            <form action="game" method="post">
                input! →<input type="text" name="inputed" required autofocus>
                <input type="submit" value="GO!" class="input">
            </form>
        </div>
        <div>
            <form action="reset" method="post">
                <input type="submit" value="再スタート" class="restart">
            </form>
        </div>
    </div>
    {% endif %}
</body>
</html>