<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>しりとりアプリ</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="cpu">
        <p>{{ msg }}</p>
    </div>
    <div class="wordlist_used">
        <p>これまでに使われた単語のリスト</p>
        <!-- {{ list_kari }} -->
        <ul>
            {% for list in list_kari%}
                <li>{{ list }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="user">
        <p>
            
            <form action="" method="post">
                input! → <input type="text" name="" id="">
            </form>
        </p>
    </div>
</body>
</html>